<table class="table">
  <thead>
      <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acción</th>
      </tr>
  </thead>
  <tbody *ngIf="posts && posts.length > 0">
    <tr app-post-item *ngFor="let post of posts | filterPost: filterCurrent" [post]="post">
    </tr>  
  </tbody>
  <tbody *ngIf="!posts || posts.length == 0 || (posts | filterPost: filterCurrent)?.length == 0">
    <tr> 
      <td></td>     
      <td>No se encontraron Posts</td>     
      <td></td>
    </tr>
  </tbody>
</table>